Repository caicloud/loadbalancer-provider, pull requests merged in 2020-02, with the labels that each got.

#108 feat: support qps configuration and add go-common
  Gopkg.lock
  Gopkg.toml
  cmd/azure/main.go
  cmd/ingress/main.go
  cmd/ipvsdr/main.go
  core/util/util.go
  vendor/github.com/caicloud/go-common/kubernetes/client/client.go
  vendor/github.com/caicloud/go-common/kubernetes/client/doc.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/L

#109 feat: support qps configuration and add go-common
  Gopkg.lock
  Gopkg.toml
  cmd/azure/main.go
  cmd/ingress/main.go
  cmd/ipvsdr/main.go
  core/util/util.go
  vendor/github.com/caicloud/go-common/kubernetes/client/client.go
  vendor/github.com/caicloud/go-common/kubernetes/client/doc.go
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/L

#110 build: downgrade golang version to 1.10.4
  Makefile
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/XS

#111 [CPS-5921] build: support arm64
  Makefile
  build/azure/Dockerfile.arm64
  build/ingress/Dockerfile.arm64
  build/ipvsdr/Dockerfile.arm64
Labels: approved, caicloud-cla: yes, lgtm, release-note-none, size/M
